body,
html {
    height: 100%;
    background: url('images/garden20.jpg') no-repeat;
    background-size: cover;
    height: 100%;
}

footer {
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    width: 100%;
    text-align: center;
    font-size: 15px;
    font-family: 'Times New Roman';
    color: lime;
    transition: .4s;
}

h1 {
    width: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    color: lime;
    margin: 0;
    padding: 0;
    height: 40px;
    line-height: 40px;
}

.nav ul {
    list-style: none;
    margin: 0px;
    padding: 0;
}

.nav ul li {
    float: left;
    background: rgba(0, 0, 0, 0.7);
    width: 33.33%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
}

.nav ul li a {
    text-decoration: none;
    display: block;
    color: lime;
}

.nav li a:hover,
.nav li a:focus {
    background-color: lime;
    opacity: .8;
    color: black;
}

.qContainer{
    position: relative;
    top: 15%;
    text-align: center;
    line-height: 30px;
    font-family: cursive;
}

input {
    height: 40px;
    width: 300px;
    margin-left: 8px;
    margin-bottom: 10px;
    color:hotpink;
    border: none;
    border-radius: 30px;
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
}

input:hover,
input:focus,
textarea:hover,
textarea:focus {
    background: white;
    color: dodgerblue;
    font-weight: 700;
}

textarea {
    border: none;
    text-indent: 5px;
    position: relative;
    left: 40px;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.7);
    padding-top: 3px;
    color: white;
    font-size: 15px;
}

textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder {
    color: hotpink;
}

button {
    position: relative;
    left: 20px;
    top: 30px;
    height: 40px;
    width: 250px;
    border: none;
    border-radius: 30px;
    background: #0FAADA;
    color: white;
    font-family: cursive;
    font-size: 20px;
    overflow: hidden;
}

button::before {
    content: '\27a4';
    position: absolute;
    top: 40px;
    line-height: 40px;
    left: 0px;
    height: 40px;
    width: 250px;
    border: none;
    border-radius: 30px;
    background: hotpink;
    color: white;
    -webkit-transition:  .3s ease-in-out;
    -moz-transition:  .3s ease-in-out;
    transition:  .3s ease-in-out;
}
button:hover::before, button:focus::before{
    top:0px;
}