footer {
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    width: 100%;
    text-align: center;
    font-size: 15px;
    font-family: 'Times New Roman';
    color: lime;
    transition: .4s;
}
h1 {
    width: 100%;
    color: lime;
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    margin: 0;
    padding: 0;
    height: 40px;
    line-height: 40px;
}

.nav ul{
    list-style: none;
    margin: 0px; 
    padding: 0;
}
.nav ul li{
    float: left;
    background: rgba(0, 0, 0, 0.7);
    width: 33.33%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
}
.nav ul li a{
    text-decoration: none;
    display: block;
    color: lime;
}
.nav li a:hover, .nav li a:focus{
    background-color: lime;
    opacity: .8;
    color: black;
}
body,html{
    margin: 0;
    padding:0;
    background: url('/ui/images/garden19.jpg') no-repeat;
    background-size: cover;
    height: 100%;
}
.content{
    position: absolute;
    top:30%;
    left:30%;
    text-align: center;
    line-height: 50px;
    font-family: cursive;
}

input[type=number]{
    text-align: center;
    width:100px;
    padding:5px;
    padding-left: 10px;
    height: 30px;
    border-radius: 15px;
    border:0px;
    color:black;
    background: rgba(255, 255, 255, 0.6);
}
#humd{
    margin-left: 25px;
}
input[type=datetime]{
    background: rgba(0, 0, 0, 0.5);
    color:whitesmoke;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width:200px;
    border-radius: 15px;
    border:0px;
    margin-left: 5px;
}

input[type=range]{
    -webkit-appearance: none;
    width:300px;
    border:0px;
    border-radius: 30px;
    background: rgba(0, 0, 0, 0.6);
}
input[type=range]::-webkit-slider-thumb{
    -webkit-appearance: none;
    background:dodgerblue;
    height:20px;
    width:20px;
    border:none;
    border-radius: 7px;
}
#back{
    height: 40px;
    width:200px;
    font-family:calibri;
    letter-spacing: 2px;
    word-spacing: 3px;
    border: 0;
    border-radius: 30px;
    color:whitesmoke ;
    font-weight: 800;
    background: orange;
    cursor: pointer;
    font-size: 20px;  
    position: absolute;
    left: 150px;
    overflow: hidden;
    margin-top: 30px;
}
#back::before{
    content:'⟵';
    background: lawngreen;
    height: 40px;
    width: 200px;
    font-weight: 800;
    color:white;
    border-radius: 30px;
    line-height: 40px;
    position: absolute;
    top:40px;
    left:0px;
    transition: .3s;
}
#back:hover::before{
    top:0px;
}
#back:focus::before{
    top:0px;
    background:green;
}