header {
    position: fixed;
    right:0;
    left: 0;
    top: 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    color: lime;
    font-family: Georgia;
    margin: 0px;
    height: 80px;
    transition: .4s;
}

footer {
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    width: 100%;
    text-align: center;
    font-size: 15px;
    font-family: 'Times New Roman';
    color: lime;
    transition: .4s;
}

.nav ul {
    list-style-type: none;
    width: 2040px;
    position: absolute;
    top:80px;
    margin:0;
    padding: 0;
}
.nav li {
    float: left;
    width: 33.33%;
    height: 20%;
    display: block;
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
    line-height: 40px;
}
.nav li a {
    width:100%;
    margin: 0px;
    display: block;
    color: lime;
    text-align: center;
    text-decoration: none;
}

.nav li a:hover {
    background-color: lime;
    opacity: .8;
    color: black;
}

.nav li a:focus {
    background-color: lime;
    opacity: .8;
    color: black;
}

body{
    margin: 0;
    padding:0;
    background: url('images/garden12.jpg') no-repeat;
    background-size: cover;
    position: relative;
    top:100px;
    line-height: 50px;
    text-align: center;
    font-family: calibri;
    letter-spacing: 2px;
    word-spacing: 3px;
    font-size: 20px;
}

h2{
    color:#F73868;
    text-decoration: underline;
    background: rgba(0, 0, 0, 0.6);
    width:100%;
}

.gardenName{
    height: 40px;
    width:400px;
    border:2px solid #E60A1C;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 25px;
    padding-left:3px;
    color: white;
    font-size: 20px;
    text-align: center;
}
.inside{
    position: absolute;
    text-indent:20px;
    margin-top: 3px;
    color:#15E437;
    padding-right: 3px;
    line-height: 50px;
}
.inside:hover, .gardenName:hover, .gardenName:focus{
    background: rgba(255, 255, 255, 0.6);
    color: #035575;
    font-size: 23px;
 }
 .plantSel{
    font-size: 30px;
    color:#101111;
    margin-bottom: 10px;
 }
select, select option{
    height: 35px;
    width: 200px;
    text-indent: 50px;
    font-size: 20px;
    font-weight: 700;
    padding:5px 15px;
    background : rgba(142, 145, 194, 0.5);
    color: #2E0242;
 }
 select:hover, select option:hover{
    color:whitesmoke;
    background: rgba(0, 0, 0, 0.8);
 }