footer {
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    width: 100%;
    text-align: center;
    font-size: 15px;
    font-family: 'Times New Roman';
    color: lime;
    transition: .4s;
}
h1 {
    width: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    color: lime;
    margin: 0;
    padding: 0;
    height: 40px;
    line-height: 40px;
}

.nav ul{
    list-style: none;
    margin: 0px; 
    padding: 0;
}
.nav ul li{
    float: left;
    background: rgba(0, 0, 0, 0.7);
    width: 33.33%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
}
.nav ul li a{
    text-decoration: none;
    display: block;
    color: lime;
}
.nav li a:hover, .nav li a:focus{
    background-color: lime;
    opacity: .8;
    color: black;
}
body,html{
    margin: 0;
    padding:0;
    background: url('images/garden12.jpg') no-repeat;
    background-size: cover;
    height: 100%;
}
.gardenName{
    height: 50px;
    width:400px;
    border:2px solid #E60A1C;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 25px;
    padding-left:3px;
    color: honeydew;
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
}
input::-webkit-input-placeholder {
    color:red;
}
i{
    position: absolute;
    text-indent:20px;
    top:-10px;
    font-size: 30px;
    margin-top: 8px;
    color:#15E437;
    padding-right: 3px;
    line-height: 30px;
}
.gardenName:hover, .gardenName:focus{
    background: rgba(255, 255, 255, 0.5);
    color: darkviolet;
    font-size: 23px;
 }
 .plantSel{
    font-size: 30px;
    color:#101111;
    margin-bottom: 10px;
    position: absolute;
    top:30%;
    left: 35%;
 }
select, select option{
    height: 35px;
    width: 200px;
    text-indent: 50px;
    font-size: 20px;
    font-weight: 700;
    padding:5px 15px;
    background : rgba(142, 145, 194, 0.5);
    color: #2E0242;
 }
 select:hover, select option:hover{
    color:whitesmoke;
    background: rgba(0, 0, 0, 0.8);
 }

.sbt{
    font-family: Calibri;  
    font-size: 20px;
    height: 30px;
    text-align: center;
    left:60px;
    width: 200px;
    background: orange;
    border-radius: 30px;
    border: 0px;
    color:black;
    font-weight: 500;
    overflow: hidden;
    position: relative;
    margin-top: 40px;
 }
 .sbt::before{
    content:"→";
    margin:0;
    line-height: 30px;
    height: 30px;
    width: 100%;   
    font-weight: 800;    
    padding:0;
    background: #15E437;
    position: absolute;
    color:whitesmoke;
    top:0px;
    left:-200px;
    transition: .2s ease-in-out;
    border-radius: 30px;
 }
 .sbt:hover::before{
    left:0px;
 }
 .sbt:focus::before{
    left:0px;
    background: darkgreen;

 }